.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
        
    header {
            
        h1 {
            color: white;
            }
        }
        footer {
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
            span {
                text-transform: uppercase;
            }
        }

}

.grid-stories ul {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem; 
	max-width: 100%;
	height: auto;
	display: flex;
    flex-flow: row wrap;
    text-decoration: none;

    
        li {
            

            @media screen and (min-width: 600px) {
            flex: 1 0 50%;
            }

            @media screen and (min-width: 1240px) {
            flex: 1 0 25%;
            
        }

            a {
                text-decoration: none;
                color: white;

            }

            article {
                max-width: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                height: 420px;
                display: flex;
            

                .overlay {
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
                    align-self: flex-end;

                    p {
                        bottom: 0px;
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        height: auto;
                        padding: 10px;
                    }
                }

                    
            }

        }

}



