body {
    font-family: $font;
    font-weight: $light;
	font-style: normal;
    background-color: black;
    color: $primary-color;
    font-size: $base-font-size;
    color: white;
    height: auto;
}