* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-weight: $light;
    font-style: normal;
    background-color: black;
    color: $primary-color;
    font-size: $base-font-size;
    color: $primary-color;
    height: auto;
}